1.	Write a Python Program to Find the Factorial of a Number?

In [5]:
def factorial(num):
    for i in range(1,num):
        num = num*i
    return num
factorial(10)

3628800

2.	Write a Python Program to Display the multiplication Table?

In [7]:
#multiplication table of 2
num = 2
for i in range(1,11):
    print(f"{i} X {2} = {i*2}")

1 X 2 = 2
2 X 2 = 4
3 X 2 = 6
4 X 2 = 8
5 X 2 = 10
6 X 2 = 12
7 X 2 = 14
8 X 2 = 16
9 X 2 = 18
10 X 2 = 20

3.	Write a Python Program to Print the Fibonacci sequence?

In [14]:
def febo(n):
    i0 = 0
    i1 = 1  
    for i in range(n):
        print (i0)
        nxt = i0 + i1
        i0 = i1
        i1 = nxt
    
febo(10)

0
1
1
2
3
5
8
13
21
34

4.	Write a Python Program to Check Armstrong Number?

In [5]:
def armstrong(num):
    sum_ = 0
    temp =num 
    while temp>0:
        x = temp%10
        print ("the digit is : {}".format(x))
        sum_ += x**3
        #temp = temp/10 this will give us a float. we can either use round funct. or floor operator
        temp //=10
        print("the next floor number is : {}".format(temp))
    if num == sum_:
        print(f"the Number {num} is an armstrong as {num} = {sum_}")
    else:
        print("Not an Armstrong Number")

In [6]:
armstrong(153)

the digit is : 3
the next floor number is : 15
the digit is : 5
the next floor number is : 1
the digit is : 1
the next floor number is : 0
the Number 153 is an armstrong as 153 = 153

In [7]:
armstrong(114)

the digit is : 4
the next floor number is : 11
the digit is : 1
the next floor number is : 1
the digit is : 1
the next floor number is : 0
Not an Armstrong Number

5.	Write a Python Program to Find Armstrong Number in an Interval?

In [13]:
def is_arm_interval(int_from,int_to):
    for num in range(int_from,int_to):
        sum_ = 0
        temp =num 
        while temp>0:
            x = temp%10
            sum_ += x**3
            #temp = temp/10 this will give us a float. we can either use round funct. or floor operator
            temp //=10
        if num == sum_:
            print(f"the Number {num} is an armstrong as {num} = {sum_}")
        else:
            continue

In [16]:
is_arm_interval(0,1000)

the Number 0 is an armstrong as 0 = 0
the Number 1 is an armstrong as 1 = 1
the Number 153 is an armstrong as 153 = 153
the Number 370 is an armstrong as 370 = 370
the Number 371 is an armstrong as 371 = 371
the Number 407 is an armstrong as 407 = 407

6.	Write a Python Program to Find the Sum of Natural Numbers?

In [17]:
def sum_natural(int_from,int_to):
    sum_ = 0
    for i in range(int_from,int_to+1):
        sum_ += i
    return f"the sum of natural number from {int_from} to {int_to} is {sum_}"

In [18]:
sum_natural(0,100)

'the sum of natural number from 0 to 100 is 5050'